{% extends "base.html" %}

{% block content %}
<h1>Book a Meeting</h1>

    <form method="post">
    {{ form.hidden_tag() }}

        <div class="mb-3">
            {{ form.date.label(class="form-label")}}
            {{ form.date(type="date", class="form-control") }}
    {%  if form.date.errors %}
            <div class="invalid-feedback">{{ form.date.errors[0] }}</div>
            {%  endif %}
        </div>

    <div class="mb-3">
        {{ form.time_slot.label(class="form-label")}}
        {{ form.time_slot(class="form-control") }}
        {%  if form.time_slot.errors %}
        <div class="invalid-feedback">{{ form.time_slot.errors[0] }}</div>
        {%  endif %}
    </div>

    <div class="mb-3">
        {{ form.staff.label(class="form-label") }}
        {{ form.staff(class="form-control") }}
        {% if form.staff.errors %}
        <div class="invalid-feedback">{{ form.staff.errors[0] }}</div>
        {% endif %}
    </div>

    {{ form.submit() }}

    </form>
{% endblock %}
