{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}
<h1>Student Profile Page</h1>

<h2 class="mt-5">Edit personal details</h2>
<div class="container row justify-content-start col-6">
    <form method="POST" action="{{ (url_for('update_profile')) }}" novalidate>
        {{ edit_form.hidden_tag() }}
        {{ wtf.form_field(edit_form.first_name, False) }}
        {{ wtf.form_field(edit_form.last_name, False) }}
        {{ wtf.form_field(edit_form.email, False) }}
        {{ wtf.form_field(edit_form.phone, False) }}
        {{ wtf.form_field(edit_form.submit, False) }}
        {% if edit_form.edit.data != '-1' %}
        <div>
            <a href="{{ url_for('edit_profile') }}" class="btn btn-secondary">Cancel Edit</a>
        </div>
        {% endif %}
    </form>
</div>





{% endblock %}
