{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}
<h1>Student Profile Page</h1>

<h3>Hello {{ current_user.first_name }}!</h3>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Add Hobbies and Interests</th>
            <th>Edit Personal Details</th>
        </tr>
    </thead>
    {% for item in student %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.first_name }}</td>
            <td>{{ item.last_name }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.phone }}</td>
            <td>
                <form action="{{ url_for('student_profile', studentID=current_user.id) }}" method="post">
                    {{ choose_form.csrf_token() }}
                    {{ choose_form.choice(value=item.id) }}
                    <button class="btn" type="submit">
                        <i class="bi bi-plus-square"></i>
                    </button>
                </form>
            </td>
            <td>
             <form action="{{ url_for('student_profile', studentID=current_user.id) }}" method="post">
                {{ choose_form.csrf_token() }}
                {{ choose_form.choice(value=item.id) }}
                <button class="btn" type="submit">
                    <i class="bi bi-pen"></i>
                </button>
            </form>
        </td>
        </tr>
    {% endfor %}
</table>

{% if edit_form %}
{% if choose_form.choice.data == student_id|string %}
<h2 class="mt-5">Edit personal details</h2>
<div class="container row justify-content-start col-6">
    <form method="POST" action="{{ url_for('student_profile', studentID=current_user.id) }}" novalidate>
        {{ edit_form.hidden_tag() }}
        {{ wtf.form_field(edit_form.first_name, False) }}
        {{ wtf.form_field(edit_form.last_name, False) }}
        {{ wtf.form_field(edit_form.email, False) }}
        {{ wtf.form_field(edit_form.phone, False) }}
        {{ wtf.form_field(edit_form.submit, False) }}
        {% if edit_form.edit.data != '-1' %}
        <div>
            <a href="{{ url_for('student_profile', studentID=current_user.id) }}" class="btn btn-secondary">Cancel Edit</a>
        </div>
        {% endif %}
    </form>
</div>
{% endif %}
{% endif %}

<h4>Your Hobbies & Interests</h4>

<div class="row">
    <div class="col-lg-3">
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Hobbies</th>
            <th></th>
        </tr>
        </thead>

        {% for hobby in hobbies_list %}
        <tr>
            <td>{{ hobby[0] }}</td>
            <td>{{ hobby[1] }}</td>
            <td>
                <form action="{{ url_for('student_profile', studentID=current_user.id) }}" method="post">
                {{ choose_form.csrf_token() }}
                {{ choose_form.choice(value=hobby[0] )}}
                {{ choose_form.hobby_or_interest(value='hobby') }}
                <button class="btn" type="submit">
                    <i class="bi bi-trash"></i>
                </button>
            </form>

            </td>
        </tr>
        {% endfor %}
    </table>
    </div>


    <div class="col-lg-3">
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Interests</th>
            <th></th>
        </tr>
        </thead>

        {% for interest in interests_list %}
        <tr>
            <td>{{ interest[0] }}</td>
            <td>{{ interest[1] }}</td>
            <td>
               <form action="{{ url_for('student_profile', studentID=current_user.id) }}" method="post">
                {{ choose_form.csrf_token() }}
                {{ choose_form.choice(value=interest[0] )}}
                {{ choose_form.hobby_or_interest(value='interest') }}
                <button class="btn" type="submit">
                    <i class="bi bi-trash"></i>
                </button>
            </form>

            </td>
        </tr>
        {% endfor %}
    </table>
    </div>
</div>


{% if form %}
{% if choose_form.choice.data == student_id|string %}
<h4>Add your hobbies and interests below:</h4>
<div class="container">
    <form method="POST" action="{{ url_for('student_profile', studentID=current_user.id) }}" novalidate>
        {{ form.hidden_tag() }}
        <div class="row">

            <div class="col-md-6">
            {{ wtf.form_field(form.hobbies, False) }}
            </div>

            <div class="col-md-6">
            {{ wtf.form_field(form.interests, False) }}
            </div>
        </div>

        <div class="col-12 mt-2">
        {{ wtf.form_field(form.submit, False) }}
        </div>
    </form>
</div>
{% endif %}
{% endif %}



{% endblock %}
